{% extends 'base/base.html' %}
{% load static %}
{% block container %}

    <div class="add-heading">
        <h3 class="heading-cm">
            <a href="" class="nav-icon me-2">
                <i class="fa-solid fa-angle-left"></i>
            </a>
            उद्योग सिफारिस<span class="sub-nav ms-2"> > वृस्तृत विवरण</span>
        </h3>
    </div>


    <form action="" method="POST" class="form-cm" enctype="multipart/form-data"
        id="myForm">
        {% csrf_token %}
        <div class="col-md-12">
            <h3 class="create-form-heading">वृस्तृत विवरण</h3>
        </div>

        <div class="field-container mb-4">
            <div class="row">
                <div class="col-md-4">
                    <label for="" class="form-label cm">कार्यालयको नाम</label>
                    <input type="text" class="form-control cm" placeholder="" value="खाद्य आयात निर्यात गुण प्रमाणीकरण कार्यालय, महेन्द्रनगर" name="" disabled>
                </div>

                <div class="col-md-4">
                    <label for="" class="form-label cm">आर्थिक वर्ष</label>
                    <input type="text" class="form-control cm" placeholder="रु. " value="7980" name="" disabled>
                </div>
                
                <div class="col-md-4">
                    <label for="" class="form-label cm">मिति</label>
                    <input type="text" class="form-control cm" placeholder="रु. " value="2080/02/22" name="" disabled>
                </div>
            </div>
        </div>


        <div class="row mb-3">
            <div class="col-md-12 heading-cm">विवरण उल्लेख गर्नुहोस</div>
        </div>

        <div class="field-container mb-4">
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="" class="form-label cm">समूह</label>
                    <select class="form-control form-select kit-form-control cm" name="samuha[]">
                        <option value="" disabled selected>समूह छान्नुहोस्</option>
                        
                        {% for key, value in data.samuha %}
                            <option value="{{key}}">{{value}}</option>
                        {% endfor %}
                            
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label cm"> उद्योगको नाम </label>
                    <input type="text"  class="form-control cm" placeholder="उद्योगको नाम" name="naam[]">
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label cm"> पुरा ठेगाना</label>
                    <input type="text"  class="form-control cm" placeholder="पुरा ठेगाना" name="thegana[]">
                </div> 
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="" class="form-label cm"> कामकारवाही जिम्मा लिने व्यक्ति</label>
                    <input type="text"  class="form-control cm" placeholder="कामकारवाही जिम्मा लिने व्यक्ति" name="byakti[]">
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label cm"> सम्पर्क नम्वर</label>
                    <input type="text"  class="form-control cm" placeholder="सम्पर्क नम्वर" name="samparka[]">
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label cm">जिल्ला</label>
                    <input type="text"  class="form-control cm" placeholder="जिल्ला" name="jilla[]">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="" class="form-label cm">मुख्य उत्पादनहरु</label>
                    <input type="text"  class="form-control cm" placeholder="मुख्य उत्पादनहरु" name="mukhya[]">
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label cm">ब्राण्ड</label>
                    <input type="text"  class="form-control cm" placeholder="ब्राण्ड" name="brand[]">
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label cm">अनुज्ञापत्र प्रदान गर्ने कार्यालय</label>
                    <input type="text"  class="form-control cm" placeholder="अनुज्ञापत्र प्रदान गर्ने कार्यालय" name="karyalaya[]">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="" class="form-label cm">जारी मिति</label>
                    <input type="text"  class="form-control cm date-picker" data-single="1" placeholder="जारी मिति" name="j_miti[]">
                </div> 
                <div class="col-md-4">
                    <label for="" class="form-label cm">नविकरण मिति</label>
                    <input type="text"  class="form-control cm date-picker" data-single="1" placeholder="नविकरण मिति" name="n_miti[]">
                </div> 
                <div class="col-md-4">
                    <label for="" class="form-label cm">कैफियत</label>
                    <input type="text"  class="form-control cm" placeholder="कैफियत" name="kaifiyat[]">
                </div>
            </div>

        </div>


        <div class="row mt-3">
            <div class="col-md-12 text-end">
                <button type="button" id="add" class="btn btn-primary"><i class="fa-solid fa-plus"></i> नयाँ</button>
                <button type="submit" class="btn btn-primary">पेश गर्नुहोस</button>
            </div>
        </div>

    </form> 

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
        </script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
    <script src="https://cdn.datatables.net/datetime/1.4.1/js/dataTables.dateTime.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script src="../../datepicker/nepali-date-picker.min.js"></script>
    <script src="../../js/script.js"></script>

    <script>
        jQuery(document).ready(function() {
            $('.date-picker').nepaliDatePicker();
        })

        $(document).ready(function(){
        $('#add').click(function(){
            var newElement = $('.field-container:last').clone();
            $(newElement).insertAfter(".field-container:last");
        });
    });
    </script>

{% endblock %}