{% extends 'base/base.html' %}
{% load static %}
{% block container %}

    <div class="add-heading">
        <h3 class="heading-cm">
            <a href="#" class="nav-icon me-2">
                <i class="fa-solid fa-angle-left"></i>
            </a>
            Office<span class="sub-nav ms-2"> > All</span>
        </h3>
        <p><a href=""><i class="fa-regular fa-eye"></i>View Offices</a></p>
    </div>

    {% for message in messages %}
        {% if message.tags == "success" %}
            <div class="alert alert-success">{{ message }}</div>
        {% elif message.tags == "error" %}
            <div class="alert alert-danger">{{ message }}</div>
        {% elif message.tags == "info" %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endif %}
    {% endfor %}

    <div class="table-row">
        <div class="row mb-4 filter-row filters">
            <div class="col-md-4">
                <select id="role" class="form-select kit-form-control">
                    <option value="" disabled selected>Select Category</option>
                    <option value="Data Entry Operator">Data Entry Operator</option>
                    <option value="Import Export">Import Export</option>
                    <option value="Division Office">Division Office</option>
                </select>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control cm" id="min" name="min" placeholder="From">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control cm" id="max" name="max" placeholder="To">
            </div>
            <div class="col-md-2">
                <button id="reset">Reset</button>
            </div>
        </div>
    
        <table id="sampleTable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>S No.</th>
                    <th>Department Name</th>
                    <th>Department Address</th>
                    <th>Department Email</th>
                    <th>Category</th>
                    <th>Created Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for o in offices %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{o.name}}</td>
                    <td>{{o.address}}</td>
                    <td>{{o.email}}</td>
                    <td>{{o.get_category_display}}</td>
                    <td>{{o.created_at|date:"Y-m-d"}}</td>
    
                    <td>
                        <div class="d-flex kit-action-com">
                            <div class="action-btn-pen">
                            <a href="{% url 'office-edit' id=o.id %}" method="put"><span class="material-symbols-outlined">
                                    edit
                                    </span></a>
                            </div>
    
                            <form class="action-btn-dltt" action="{% url 'office-delete' id=o.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
    <script src="https://cdn.datatables.net/datetime/1.4.1/js/dataTables.dateTime.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script src="../datepicker/nepali-date-picker.min.js"></script>
    <script src="../../js/script.js"></script>
    <script>
        $(document).ready(function () {
            $('.mySelect').select2({
                placeholder: 'Select'
            });
        });

        $(document).ready(function () {
            $('.multipleselect').select2({
                closeOnSelect: false,
                placeholder: 'Select'
            });
        });


        $(document).ready(function () {
            var successAlert = $(".alert");

            if (successAlert.length > 0) {
                setTimeout(function () {
                    successAlert.alert('close');
                }, 5000);
            }
        });

        jQuery(document).ready(function() {
            $('.date-picker').nepaliDatePicker();
        })



        function previewImages(event) {
        var previewContainer = document.getElementById('previewContainer');
        previewContainer.innerHTML = '';
        var files = event.target.files;
        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            var reader = new FileReader();
            reader.onload = function (e) {
                var image = document.createElement('img');
                image.src = e.target.result;
                image.classList.add('previewImage');
                previewContainer.appendChild(image);
            };
            reader.readAsDataURL(file);
        }
    }





    $('#select_box').change(function () {
        var select1 = $(this).find(':selected').val();
        $(".hide").hide();
        $('#' + select1).show();
    }).change()

    $('#office-selection').change(function () {
        var select2 = $(this).find(':selected').val();
        $(".hide").hide();
        if(select2==5){
            $("#1").show();
            $('#import-export').show();
        }else if(select2==6){
            $("#1").show();
            $('#division-office').show();
        }else if(select2==7){
            $("#1").show();
            $('#food-office').show();
        }else if(select2==8 || select2==9 || select2==10 || select2==11){
            $("#1").show();
        }
    }).change()




    var minDate, maxDate;

    $.fn.dataTable.ext.search.push(
        function(settings, data, dataIndex) {
            var min = minDate.val();
            var max = maxDate.val();
            var date = new Date(data[5]);
            if (
                (min === null && max === null) ||
                (min === null && date <= max) ||
                (min <= date && max === null) ||
                (min <= date && date <= max)
            ) {
                return true;
            }
            return false;
        }
    );

    $(document).ready(function() {
        minDate = new DateTime($('#min'), {
            format: 'YYYY-MM-DD'
        });

        maxDate = new DateTime($('#max'), {
            format: 'YYYY-MM-DD'
        });

        var table = $('#sampleTable').DataTable({
            dom: 'Bfrtip',
            buttons: [{
                    extend: 'copy',
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                },
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                }
            ],
            columnDefs: [
            {
                targets: -1,
                visible: true,
            }
        ]
        });


        $('#role').on('change', function() {
            var type = $(this).val();
            table.columns(4).search(type).draw();
        });

        $('#reset').on('click', function() {
            $('#min').val('');
            $('#max').val('');
            $('#role').val('');

            table.columns().search('').draw();
            minDate.val('');
            maxDate.val('');
            table.draw();
        });

        $('#min, #max').on('change', function() {
            table.draw();
        });

    });
</script>


{% endblock %}