{% extends 'base/base.html' %}
{% load static %}
{% block container %}

    <div class="add-heading">
        <h3 class="heading-cm">
            <a href="" class="nav-icon me-2">
                <i class="fa-solid fa-angle-left"></i>
            </a>
            उजुरी/गुनासो ब्येवस्थापन <span class="sub-nav ms-2"> > नया इन्ट्री</span>
        </h3>
    </div>

    {% for message in messages %}
        {% if message.tags == "success" %}
            <div class="alert alert-success">{{ message }}</div>
        {% elif message.tags == "error" %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endif %}
    {% endfor %}

    <form action="" method="POST" class="form-cm" enctype="multipart/form-data"
        id="myForm">
        {% csrf_token %}
        <div class="col-md-12">
            <h3 class="create-form-heading">नया इन्ट्री</h3>
        </div>

        <div class="field-container mb-4">
            <div class="row">
                <div class="col-md-4">
                    <label for="" class="form-label cm">कार्यालयको नाम</label>
                    <input type="text" class="form-control cm" placeholder="" value="{{user.office}}" name="name" disabled>
                </div>

                <div class="col-md-4">
                    <label for="" class="form-label cm">मिति</label>
                    <input type="text" class="form-control cm" placeholder="" value="{{current_nepali_date}}" name="name" disabled>
                </div>
                
                <div class="col-md-4">
                    <label for="" class="form-label cm">आर्थिक वर्ष</label>
                    <input type="text" class="form-control cm" placeholder="" value="{{current_nepali_year}}" name="name" disabled>
                </div>
            </div>
        </div>


        <div class="row mb-3">
            <div class="col-md-12 heading-cm">संख्या उल्लेख गर्नुहोस</div>
        </div>

        <div class="field-container mb-4">
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="" class="form-label cm">गुनासो पेटीका</label>
                    <input type="number" min="0" class="form-control cm" placeholder="कति वटा" name="gunaso_petika">
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label cm">गुनासो अधिकारी समक्ष</label>
                    <input type="number" min="0" class="form-control cm" placeholder="कति वटा" name="gunaso_adhikari">
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label cm">जिल्ला प्रशासन कार्यालयबाट लेखिआएको</label>
                    <input type="number" min="0" class="form-control cm" placeholder="कति वटा" name="zilla">
                </div> 
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="" class="form-label cm">बाणिज्य कार्यालयबाट लेखिआएको</label>
                    <input type="number" min="0" class="form-control cm" placeholder="कति वटा" name="banijya">
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label cm">पत्र पत्रिका</label>
                    <input type="number" min="0" class="form-control cm" placeholder="कति वटा" name="patra">
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label cm">अख्तियार दु. अ.आ.</label>
                    <input type="number" min="0" class="form-control cm" placeholder="कति वटा" name="akhtiyar">
                </div> 
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="" class="form-label cm">पत्रकार</label>
                    <input type="number" min="0" class="form-control cm" placeholder="कति वटा" name="patrakar">
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label cm">हेलो सरकार</label>
                    <input type="number" min="0" class="form-control cm" placeholder="कति वटा" name="sarkar">
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label cm">उपभोक्ता संघ संस्था</label>
                    <input type="number" min="0" class="form-control cm" placeholder="कति वटा" name="upavokta">
                </div> 
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="" class="form-label cm">अन्य</label>
                    <input type="number" min="0" class="form-control cm" placeholder="कति वटा" name="others">
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label cm">जम्मा उजुरी/ गुनासो संख्या</label>
                    <input type="number" min="0" class="form-control cm" placeholder="कति वटा" name="jamma">
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label cm">सम्बोधन गरीएका गुनासो/उजुरी</label>
                    <input type="number" min="0" class="form-control cm" placeholder="कति वटा" name="sambodhan">
                </div> 
            </div>

            

        </div>


        <div class="row mt-3">
            <div class="col-md-12 text-end">
                <button type="submit" class="btn btn-primary">पेश गर्नुहोस</button>
            </div>
        </div>

    </form> 


    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
    <script src="https://cdn.datatables.net/datetime/1.4.1/js/dataTables.dateTime.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script src="../../datepicker/nepali-date-picker.min.js"></script>
    <script src="../../js/script.js"></script>

{% endblock %}