
{% load static %}
{% block container %}
        <div class="row  mb-4">
            <div class="form-sm-container">
                {% if validlink %}
                <form action="" method="post" class="user-form-main">
                    {% csrf_token %}

                    <div class="  form-bdr ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <label for="exampleInputFullName" class="form-label">New Password</label>

                                    <div class="input-container">
                                        <img class="login-icon-left" src="{% static '/image/lock-alt.svg' %}" alt="">
    
                                        <input type="password" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="passwordHelp" placeholder="Enter your Password" name="new_password1">
                                    </div>
    
                                </div>
                                <div class="row">
                                    <label for="exampleInputFullName" class="form-label">New Password Confirmation</label>
    
    
                                    <div class="input-container">
                                        <img class="login-icon-left" src="{% static '/image/lock-alt.svg' %}" alt="">
    
                                        <input type="password" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="passwordHelp" placeholder="Enter your Password" name="new_password2">
                                    </div>
    
                                </div>
                                <div class="row">
                                    <div class="input-container">
                                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-lg-12 user-side-view">
                                    <h4>Instructions for password</h4>
                                    <ul>
                                        <li>Your password can't be too similar to your other personal information.</li>
                                        <li>Your password must contain at least 8 characters.</li>
                                        <li>Your password can't be a commonly used password.</li>
                                        <li>Your password can't be entirely numeric.</li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    

                </form>
                {% else %}
                <p>The password reset link was invalid, possibly because it has
                already been used. Please request a new password reset.</p>
                {% endif %}
            </div>
        </div>
    </div>
    
{% endblock %}
